*, *::before, *::after {
   box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: "Roboto";
    src:url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"Roboto";
    src: url("../fonts/robotobold.woff2") format('woff2'),
     url('../fonts/robotobold.woff') format('woff');
    font-weight: 700;
    font-style:normal;
}
@font-face {
    font-family:"Roboto";
    src:url('../fonts/robotomedium.woff2') format('woff2'),
     url('../fonts/robotomedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/*variobles*/
:root {
    --basic-black:#000000 ;
    --basic-mdllight-gray: #F1F1F1;
    --basic-light-gray:#EEEEEE;
    --basic-white:#FFFFFF;
    --basic-gray-input: #B4B9BB;
    --basic-light-red:#FB565A;
    --basic-light-green:#00CA74;
    --basic-light-yellow:#EFC849;
    --basic-dark-gray:#444444;
    --basic-medium-gray:#DFDFDF;
    --basic-text-gray: #7A7A7A;
    --basic-mdl-gray:#D5D5D5;
    --basic-die-gray:#4D4D4D;
    --basic-gray:#E1E1E1;
    --basic-shadow-gray: #CFCFCF;
    --basic-scale-gray:#D7DCDF;
    --basic-toggle-gray:#ABABAB;
    --basic-red:#E74246;
    --basic-border-gray:#DBDBDB;
    --basic-green:#00BC6C;
    --basic-yellow:#EAB534;
    --basic-dark-red:#D7373B;
    --basic-dark-green:#00AA62;
    --basic-dark-yellow:#E5A722;
    --basic-white-30:rgba(225,225,225,.3);
    --basic-black-30: rgba(0,0,0,.3);
}
.page-body p, .page-body h1,
.page-body h2, .page-body h3 {
  margin: 0;
  padding: 0;
}
.page-body a {
  text-decoration: none;
}
.page {
  height: 100%;
}


/*body*/
.page-body {
  font-family: "Roboto", Arial, sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;/*1440px*/
  margin: 0 auto;
  padding:0 20px;
}

.map .footer-map {
  display: block;
  margin: 0 auto;
  height: 416px;

}
.page-footer .map {
  margin-bottom: 75px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  padding: 16px 0 ;
  border:none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

/*header*/
.page-header {
  padding-top: 75px;
}

/*navigtion*/
.header-logo {
  display: inline-flex;
  margin-top: -26px;

}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo:active {
  opacity: 0.3;
}
.page-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.page-navigation a{
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  padding-bottom: 13px;
}
.site-navigation a:hover:not(.current),
.basket-shop .basket:hover:not(.current) {
  color: var(--basic-light-red);
}
.site-navigation a:active:not(.current),
.basket-shop .basket:active:not(.current) {
  color: var(--basic-black);
  opacity: 0.3;
}

.current {
  border-bottom: 2px solid var(--basic-light-red);

}
.basket-shop .basket {
  position: relative;
  padding-left: 50px;
}
.basket-icon::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 5px;
}
.basket-shop .basket-icon:active::before {
  opacity: 1;
}
.site-navigation {
  margin-left: -40px;
  display: flex;
  min-width: 427px;
  flex-wrap: wrap;
  justify-content: space-between;
}

                                                            /*slider-dignity*/


/*.slider-1 {
  background: var(--basic-light-gray) url(../img/nerds-slider/nerds-slider-show.png) no-repeat right 760px 431px ;
}*/
.slider-dignity {
  margin-bottom: 80px;
}
.slider-item {
  display: flex;
  flex-wrap: wrap;
  height: 430px;
}
.slider-info {
  padding-top: 78px;
}
.slider-1 {
  background-image: url(../img/nerds-slider/nerds-slider-show.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
  object-fit: contain;
}
.slider-2 {
  display: none;
  background-image: url(../img/nerds-slider/nerds-slider-second.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
  object-fit: contain;
}
.slider-3 {
  display: none;
  background-image: url(../img/nerds-slider/nerds-slider-third.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
  object-fit: contain;
}
.slider-item h2 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: uppercase;
}
.slider-info {
  width: 500px;
}
.slider p {
  margin-bottom: 38px;
}
.slider {
  position: relative;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top:312px;
  left:536px;
  width: 88px;
  height: 18px;
}
.controls .slider-btn {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--basic-white);
  background-color: var(--basic-white);
  margin: 5px;
  padding: 5px;
  cursor: pointer;

}
.slider .button {

  padding: 16px 52px;
}
.more:hover{
  background-color:var(--basic-red);
}
.more:active{
  background-color: var(--basic-dark-red);
}
.more:active{
  color:var(--basic-white-30);
}

                                                             /*services-list*/

 .img-wrap {
   display: block;
   margin-bottom: 25px;
   height: 146px;
   width: 300px;
 }
 .services-list {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   column-gap: 100px;
 }
 .services {
   min-height: 427px;
 }
 .services-item h3 {
   margin-bottom: 16px;
 }
 .services-item-text {
   width: 260px;
 }
 .services-item p {
   margin-bottom: 32px;
 }
 .services-item-link {
   padding: 16px 40px;
   margin-bottom: 80px;
 }
 .services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
 }



.applications-btn {
  background-color:var(--basic-light-green);
}
.applications-btn:hover{
  background-color: var(--basic-green);
}
.applications-btn:active{
  background-color: var(--basic-dark-green);
  color: var(--basic-white-30);
}

.presentatios-btn {
  background-color: var(--basic-light-yellow);
}
.presentatios-btn:hover{
  background-color: var(--basic-yellow);
}
.presentatios-btn:active{
  background-color: var(--basic-dark-yellow);
  color: var(--basic-white-30);
}
.page-header,
.slider-dignity {
  background-color: var(--basic-light-gray);
}
.services .container {
  margin-bottom: 40px;
  position: relative;
}
.services .container::after {
  content: "";
  height: 2px;
  width: 1157px;
  background-color: var(--basic-light-gray);
  position: absolute;
  bottom: 0;
}

                                                             /* about-us*/
.about-us-box {
  margin-bottom: 50px;
}                                                             
.about-us-holder {
  display:grid;
  grid-template-columns: 1fr 360px;
  column-gap: 150px;                                /*!P*/
}
.statistics {
  background-image: url(../img/nerds-illustration.jpg);
  background-position:top right;
  background-repeat: no-repeat;
  background-size: 360px 208px;
  padding-top: 244px;
}
.about-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
 }

 .description-text,
 .up-row  {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
 }

.about-us {
  padding-top: 45px;
  width: 651px;
}
.about-us .up-row {
  margin-bottom: 23px;
}
.statistics .description-text {
  margin-bottom: 31px;
}
.about-us .about-us-title {
  margin-bottom: 32px;
}
.about-us .about-us-text {
  margin-bottom: 40px;
}
.description-text {
  text-align: center;
  margin-bottom: 31px;
}

.descrition-item {
  padding-left: 33px;
  position: relative;
  margin-bottom: 23px;
}
.descrition-item::before {
  position: absolute;
  content: "";
  margin-top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color:var(--basic-light-red);
}
.table-desc dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  margin-bottom: 10px;
}
.table-desc sup {
  top: -9px;
}
.table-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.table-list dd {
  font-size: inherit;
  margin: 0;
}
.about-us-title {
  padding-top: 73px ;
}



                                                                    /*partners*/

.partners {
  min-height: 180px;
}
.partners-list {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}
.partners-item {
  margin: auto;
  position: relative;
}
.borodinski-item::before,
.pink-item::before,
.mishka-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-gray);
}
.borodinski-item::before {
  left: -45px;
  top: 15px;
}
.pink-item::before {
  left: -45px;
  top: 0px;
}
.mishka-item::before {
  left: -45px;
  top: 13px;
}
.partners-item:first-child::before {
  content: "";
  display: none;
}
.partners-item a {
  opacity: .3;
}
.partners-item a:hover,
.partners-item a:focus {
  opacity: 10;
}
.partners-item a:active {
  opacity: .1;
}
.partners .container {
  padding-top: 46px;
  padding-bottom: 44px;
  position: relative;
  margin-bottom: 80px;
}
.partners .container::before {
  content: "";
  height: 2px;
  width: 1157px;
  border-top: 2px solid var(--basic-light-gray);
  position: absolute;
  top: 0;
}
.partners .container::after {
  content: "";
  height: 2px;
  width: 1157px;
  border-top: 2px solid var(--basic-light-gray);
  position: absolute;
  bottom: 0;
}

                                                                    /*footer,map*/
.social-holder {
  display:grid;
  grid-template-columns: 260px 1fr ;
  column-gap: 140px;
}
.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
}


.page-footer {
  position: relative;
}
.contacts {
  position: absolute;
  top: 54px;
  background-color: var(--basic-white);
  width: 320px;
  height: 308px;
  padding: 49px 50px 0 50px;
  left:50%;
  transform: translateX(-580px);
}
 .contacts .contacts-title {
   margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
 }
 .contacts .contacts-text {
   margin-bottom: 20px;
   text-align: left;
 }
 .contacts .phone {
   margin-bottom: 38px;
 }
 .contacts-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}
.contacts-link {
  display: flex;
}
.marker {
  position: absolute;
  top: 56px;
  left: 656px;
}

.map p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.social-friends .footer-title {
  font-weight:700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
                                            /* social */
 .social-btn {
    position: relative;
    width: 81px;
    height:81px;
    background-color:var(--basic-gray);
    border-radius: 50%;
    margin: auto;
 }
 .social-list a {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }


.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-insta:active::before {
  opacity: .3;
}

.social-btn:hover {
background-color: var(--basic-red);
}
.social-btn:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px 2px var(--basic-black-30);
}
.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social-btn-fb::before {  
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social-btn-insta::before {  
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

                                                                  /*pop-up*/
.pop-up {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  top: 290px;
  left: 480px;
  background-color: var(--basic-white);
  padding: 63px 100px 84px 100px;
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, .4);
}
.pop-up-show {
  display: block;
}

.mail-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pop-up .mail-item {
  width: 360px;
  margin-bottom: 37px;
}
.mail-item input {
  width: 360px;
  height: 50px;
  font-size: inherit;
  padding: 14px;
}
.mail-item-text textarea {
  width: 760px;
  height: 118px;
  padding: 16px;
  font-size: inherit;
  margin-bottom: 47px;
}
.pop-up h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 37px;
}
.pop-up .pop-up-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}
.pop-up .button {
  width: 260px;
}
.mail-item input,
.mail-item-text textarea {
  border: 2px solid var(--basic-scale-gray);
  color: opacity(0.5);

}
.mail-item input:hover,
.mail-item-text textarea:hover {
  border: 2px solid var(--basic-gray-input);
  border-radius: 1px;
}
.mail-item input[type="text"]:focus,
.mail-item-text textarea:focus {
  border: 2px solid var(--basic-black);
  border-radius: 1px;
  color: var(--basic-black)
}
.mail-item input:invalid {
 border: 2px solid var(--basic-red);
}
.button-close {
   position:absolute;
   width: 21px;
   height: 21px;
   right: 90px;
   border: 0;
   background-color: transparent;
   cursor: pointer;
}
.button-close::before,
.button-close::after {
  position: absolute;
  content: "";
  width: 29px;
  height: 4px;
  background-color: var(--basic-red);
  opacity: 0.3;
}
.button-close::before {
  transform: rotate(45deg);
}
.button-close::after {
  transform: rotate(-45deg);
}
.button-close:hover::before,
.button-close:hover::after {
  content: "";
  background-color: var(--basic-red);
}


                                                              /* !Catalog*/
.catalog-page-title {
  min-height: 235px;
  padding-top: 72px;
}
.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}
.catalog-wrap button {
  border: none;
}
.form-group {
  padding: 0;
  margin: 0;
  border: none;
}
.form-group p {
  padding-left: 36px;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 51px;
}
.form-group legend,
.user-sort .sorting  {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-gray);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-scale-gray);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-shadow-gray);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
}
.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--basic-mdllight-gray);
  font-family: inherit;
  font-size: inherit;
}
.grid p {
  margin-bottom: 20px;
}
.catalog-page-title {
  margin-bottom: 55px;
}


.catalog-wrap .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter {
  width: 260px;
}
.catalog {
  width: 762px;
}
.user-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.selection-filter {
  width: 360px;
}
.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
}
.sort-item a {
  margin-right: 25px;
}
.up:not(.active),
.down:not(.active),
.sort-item a:not(.active) {
  color: var(--basic-black);
  opacity: 0.3;
}
.up:hover,
.down:hover,
.sort-item a:hover {
  opacity: 0.6;
}
.up:active,
.down:active,
.sort-item a:active {
  opacity: 1;
}

.selection-filter {
  display: flex;
}
.selection-filter ul,
.selection-filter li {
  margin: 0;
  padding: 0;
}
.up-down {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: var(--basic-black) transparent transparent transparent;
}
.up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent var(--basic-black) transparent;
}
.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px 41px;
}
.catalog-page-title {
  background-color:var(--basic-light-gray);
}
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.grid .filter-name {
  margin-bottom: 16px;
}
.filter-name,
.sorting {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting {
  margin: 0;
  padding: 0;
}
.selection-filter a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.form-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.form-item label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  border: 2px solid var(--basic-black);
  opacity: 0.4;
}
.filter-input-checkbox:checked + label::before {
  display: none;

}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label:focus::before,
.filter-input-radio:focus + label:hover::after,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:focus + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid var(--basic-black);
  opacity: 0.4;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-black);
  opacity: 0.4;
}

.filter-btn {
  background-color: var(--basic-light-gray);
  color: var(--basic-black);
  border: none;
}
.filter-btn:hover {
  background-color: var(--basic-medium-gray);
}
.filter-btn:active {
  background-color: var(--basic-mdl-gray);
  color: var(--basic-text-gray);
}
.filter .submit-btn {
  margin-top: 50px;
  background-color: var(--basic-light-gray);
  color: var(--basic-black);
  padding: 15px 89px;
  border: none;
  border-radius: 3px;
}
.filter .submit-btn:hover {
 background-color: var(--basic-medium-gray);
}
.filter .submit-btn:active {
  background-color: var(--basic-mdl-gray);
  color: var(--basic-black-30);
  outline: none;
}
                                                                        /*catalog-cards*/
.catalog-cards {
  margin-bottom: 55px;
}
.catalog-item {
  position: relative;
  width: 360px;
  height: 620px;
  padding-top: 40px;
}
.catalog-item img {
  object-fit: contain;
}
.hidden-descriptions {
  padding: 20px 50px;
  position: absolute;
  text-align: center;
  display: none;
  bottom:0;
  width: 360px;
  height: 230px;
  background-color: var(--basic-light-gray);
}
.catalog-item:hover .hidden-descriptions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.catalog-item::before {
  width: 100%;
  height: 40px;
  background-color: var(--basic-light-gray);
  position: absolute;
  content: "";
  left:0;
  top: 0;
  border-radius: 5px 5px 0 0 ;
}
.catalog-item::after {
  width: 15px;
  height: 15px;
  background-color: var(--basic-white);
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 13px;
  left: 15px;
  box-shadow: 25px 0px 0px 0px var(--basic-white),
              50px 0px 0px 0px var(--basic-white);
}
.catalog-item:hover::before  {
  background-color: var(--basic-die-gray);
  content: "";
}
.caption-desc-cards {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.caption-desc-cards:hover {
  color: var(--basic-light-red);
}
.caption-desc-cards:active {
  color: var(--basic-text-gray);
}
.cards-link {
  margin-bottom: 12px;
}
.hidden-descriptions .cards-text {
  margin-bottom: 32px;
}
.cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.hidden-descriptions .button {
  display: inline-flex;
  padding: 15px 72px;
  width: 200px;
}
.hidden-descriptions .button:hover{
  background-color: var(--basic-red);
}
.hidden-descriptions .button:active{
  background-color: var(--basic-dark-red);
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.pagination-list {
  display: inline-flex;
}
.pagination-item {
  display: flex;
  flex-wrap: wrap;
  min-width: 50px;
  height: 50px;
  background-color: var(--basic-light-gray);
  margin-right: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.pagination-item:hover {
  background-color: var(--basic-medium-gray);
 }
 .pagination-item:active {
   background-color: var(--basic-mdl-gray);
 }
 .pagination-item a:active {
   color: var(--basic-black-30);
 }
.pagination-list .active {
  background-color: var(--basic-white);
  border:3px solid var(--basic-border-gray);
}
.pagination a {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}
.pagination .next {
  padding: 15px 77px;
}
.phone {
  color:var(--basic-black);
}
