*, *::before, *::after {
   box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: "Roboto";
    src:url(../fonts/roboto.woff2) format(woff2),
    url(../fonts/roboto.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"Roboto";
    src: url(../fonts/robotobold.woff2) format(woff2),
     url(../fonts/robotobold.woff) format(woff);
    font-weight: 700;
    font-style:normal;
}
@font-face {
    font-family:"Roboto";
    src:url(../fonts/robotomedium.woff2) format(woff2),
     url(../fonts/robotomedium.woff) format(woff);
    font-weight: 500;
    font-style: normal;
}

/*variobles*/
:root {
    --basic-black:#000000 ;
    --basic-light-gray:#EEEEEE;
    --basic-white:#FFFFFF;
    --basic-light-red:#FB565A;
    --basic-light-green:#00CA74;
    --basic-light-yellow:#EFC849;
    --basic-dark-gray:#444444;
    --basic-medium-gray:#DFDFDF;
    --basic-text-gray: #7A7A7A;
    --basic-mdl-gray:#D5D5D5;
    --basic-die-gray:#4D4D4D;
    --basic-gray:#E1E1E1;
    --basic-red:#E74246;
    --basic-green:#00BC6C;
    --basic-yellow:#EAB534;
    --basic-dark-red:#D7373B;
    --basic-dark-green:#00AA62;
    --basic-dark-yellow:#E5A722;
    --basic-white-30:rgba(225,225,225,.3);
}
.page-body p, .page-body h1,
.page-body h2, .page-body h3 {
  margin: 0;
  padding: 0;
}
.page-body a {
  text-decoration: none;
}
.page {
  height: 100%;
}


/*body*/
.page-body {
  font-family: "Roboto", Arial, sans-serif ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;/*1440px*/
  margin: 0 auto;
  padding:0 20px;
}

.map img {
  max-width: 1440px;
  height: 416px;

}
.page-footer .map {
  margin: 0 auto;
  width: 1440px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  padding: 16px 0 ;
  border:none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

/*header*/
.page-header {

}

/*navigtion*/
.header-logo {
  display: inline-flex;

}
.page-navigation .header-logo:hover {
  opacity: 0,5;
}
.page-navigation .header-logo:active {
  opacity: 0,5;
}
.page-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header-logo{
  margin-top: 49px;

}
.page-navigation a{
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}
.page-navigation a:hover:not(.current) {
  color: var(--basic-light-red);
}
.page-navigation a:active:not(.current) {
  color: var(--basic-black);
  opacity: 0.3;
}
.current {
  border-bottom: 2px solid var(--basic-light-red);

}
.nav-item a {
  padding-bottom: 13px;
}
.basket-shop,
.site-navigation {
  margin-top: 75px;
}
.site-navigation {
  display: flex;
  min-width: 427px;
  flex-wrap: wrap;
  justify-content: space-between;
}

                                                            /*slider-dignity*/


/*.slider-1 {
  background: var(--basic-light-gray) url(../img/nerds-slider/nerds-slider-show.png) no-repeat right 760px 431px ;
}*/
.slider-dignity {
  margin-bottom: 80px;
}
.slider-item {
  display: flex;
  height: 430px;
}
.slider-info {
  padding-top: 78px;
}
.slider-1 {
  background-image: url(../img/nerds-slider/nerds-slider-show.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
}
.slider-2 {
  display: none;
  background-image: url(../img/nerds-slider/nerds-slider-second.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
}
.slider-3 {
  display: none;
  background-image: url(../img/nerds-slider/nerds-slider-third.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 760px 430px;
}
.slider-item h2 {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform: uppercase;
}
.slider-info {
  width: 500px;
}
.slider p {
  margin-bottom: 38px;
}
.slider {
  position: relative;
}
.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:312px;
  left:536px;
  width: 88px;
  height: 18px;
}
.controls .slider-btn {
  border-radius: 50%;
}
.slider .button {

  padding: 16px 52px;
}
.more:hover{
  background-color:var(--basic-red);
}
.more:active{
  background-color: var(--basic-dark-red);
}
.more:active{
  color:var(--basic-white-30);
}

                                                             /*services-list*/

 .img-wrap {
   display: block;
   margin-bottom: 25px;
   height: 146px;
   width: 300px;
 }
 .services-list {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   column-gap: 100px;
 }
 .services {
   margin-top: 80px;
   min-height: 507px;
   padding-bottom: 40px;
 }
 .services-item h3 {
   margin-bottom: 16px;
 }
 .services-item-text {
   width: 260px;
 }
 .services-item p {
   margin-bottom: 32px;
 }
 .services-item-link {
   padding: 16px 40px;
 }
 .services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
 }

 .about-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
 }

 .description-text,
 .up-row  {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
 }

.applications-btn {
  background-color:var(--basic-light-green);
}
.applications-btn:hover{
  background-color: var(--basic-green);
}
.applications-btn:active{
  background-color: var(--basic-dark-green);
  color: var(--basic-white-30);
}

.presentatios-btn {
  background-color: var(--basic-light-yellow);
}
.presentatios-btn:hover{
  background-color: var(--basic-yellow);
}
.presentatios-btn:active{
  background-color: var(--basic-dark-yellow);
  color: var(--basic-white-30);
}
.page-header,
.slider-dignity {
  background-color: var(--basic-light-gray);
}

                                                             /* about-us*/
.about-us-holder {
  display:grid;
  grid-template-columns: 1fr 360px;
  column-gap: 150px;
  margin-bottom: 80px;
}
.statistics {
  background-image: url(../img/nerds-illustration.jpg);
  background-position:top right;
  background-repeat: no-repeat;
  background-size: 360px 208px;
  padding-top: 244px;
}
.about-us {
  padding-top: 33px;
}
.about-us .about-us-title {
  margin-bottom: 32px;
}
.about-us .about-us-text {
  margin-bottom: 40px;
}
.description-text {
  text-align: center;
}
.about-us .up-row {
  margin-bottom: 5px;
}
.descrition-item {
  padding-left: 33px;
  position: relative;
  padding-top: 23px;
}
.descrition-item::before {
  position: absolute;
  content: "";
  margin-top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color:var(--basic-light-red);
}
.table-desc dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}
.table-desc sup {
  top: -9px;
}
.table-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.table-list dd {
  margin: 0;
}
.about-us-title {
  padding-top: 73px ;
}
.about-us-holder::before {
  content:"";
  height: 2px;
  width: 1158px;
  background-color: var(--basic-light-gray);
  position: absolute;
  top: 1052px;
}
.about-us-holder::after {
  content:"";
  height: 2px;
  width: 1158px;
  background-color: var(--basic-light-gray);
  position: absolute;
  top: 1580px;
}

                                                                    /*partners*/

.partners {
  min-height: 180px;
}
.partners-list {
  display:flex;
  justify-content:space-between ;
  align-self:center;
}
.partners-item {
  margin: auto;
}
.partners-item a {
  opacity: .3;
}
.partners-item a:hover,
.partners-item a:focus {
  opacity: 10;
}
.partners-item a:active {
  opacity: .1;
}
.partners .container::after {
  content:"";
  height: 2px;
  width: 1158px;
  background-color: var(--basic-light-gray);
  position: absolute;
  top: 1760px;
}
                                                                    /*footer,map*/
.social-holder {
  display:grid;
  grid-template-columns: 260px 1fr ;
  column-gap: 140px;
}
.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
}
.contacts {
  width: 320px;
  height: 388px;
  padding: 49px 76px 47px 50px;
}
 .contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
 }
 .contacts-phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}
.map p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.footer-caption {
  font-weight:700;
  font-size: 36px;
  line-height: 36px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.social-btn::before {
  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height:81px;
  background-color:var(--basic-gray);
  border-radius: 50%;
  margin: auto;
}
.social-btn:hover::before {
background-color: var(--basic-red);
}
.social-btn:active::before {
  background-color: var(--basic-dark-red);
}
.social-btn-vk::before {
  content: url(../img/vk-icon.png);
}
.social-btn-fb::before {
  content:url(../img/fb-icon.png);
}
.social-btn-insta::before {
  content: url(../img/insta-icon.png);
}
.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-insta:active::before {
  color: var(--basic-white-30);
}

                                                                  /*pop-up*/
.pop-up {
}
.pop-up h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.pop-up-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

                                                              /* Catalog*/
.catalog-page-title {
  min-height: 235px;
  padding-top: 72px;
}
.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}


.catalog-wrap .container {
  display: flex;
  justify-content: space-between;
}
.filter {
  width: 260px;
}
.catalog {
  width: 762px;
}
.sort-list {
  display: flex;
}
.selection-filter {
  display: flex;
}
.selection-filter ul,
.selection-filter li {
  margin: 0;
  padding: 0;
}
.up-down {
  margin-left: auto;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  width: 360px;
  margin-right: 42px;
  margin-bottom: 32px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-page-title {
  background-color:var(--basic-light-gray);
}
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.filter-name,
.sorting {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.sorting {
  margin: 0;
  padding: 0;
}
.selection-filter a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.form-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.filter-btn {
  background-color: var(--basic-light-gray);
  color: var(--basic-black);
  border: none;
}
.filter-btn:hover {
  background-color: var(--basic-medium-gray);
}
.filter-btn:active {
  background-color: var(--basic-mdl-gray);
  color: var(--basic-text-gray);
}


                                                                        /*catalog-cards*/

.catalog-item {
  position: relative;
  width: 360px;
  height: 620px;
  padding-top: 40px;
}
.hidden-descriptions{
  position: absolute;
  text-align: center;
  display: none;
  margin-top:-240px;
  width: 360px;
  height: 230px;
  background-color: var(--basic-light-gray);
}
.catalog-item:hover .hidden-descriptions {
  display: block;
}
.catalog-item::before {
  width: 100%;
  height: 40px;
  background-color: var(--basic-light-gray);
  position: absolute;
  content: "";
  left:0;
  top: 0;
  border-radius: 5px 5px 0 0 ;

}
.catalog-item:hover::before  {
  background-color: var(--basic-die-gray);
  content: "";
}
.caption-desc-cards {
  display: inline-flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 26px;
  color: var(--basic-black);
}
.caption-desc-cards:hover {
  color: var(--basic-light-red);
}
.caption-desc-cards:active {
  color: var(--basic-text-gray);
}
.cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
  text-align: center;
}

.hidden-descriptions .button {
  display: inline-flex;
  margin-bottom: 44px;
  padding: 15px 72px;
}
.hidden-descriptions .button:hover{
  background-color: var(--basic-red);
}
.hidden-descriptions .button:active{
  background-color: var(--basic-dark-red);
}

.pagination a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}
.phone {
  color:var(--basic-black);
}
